<nav>
    <div class="left">
      <div class="logo">MENTRIX</div>
      <div class="links">
        <a href="/Home">Home</a>
        <a href="/Courses">Courses</a>
        <a href="/Weekly Podcasts">Podcasts</a>
        <a href="/Mentors">Mentors</a>
        <a href="/AboutUs">About Us</a>
      </div>
    </div>

    <div class="buttons">
      
      <a href="/Cart"><i class="bx bx-basket"></i>Cart</a>
      <a href="/LogOut" id="sign-in"><i class="bx bx-user"></i>Log Out</a>
      <!-- Added ID -->
    </div>
  </nav>