<!DOCTYPE html>
<html>
    <%- include('./partials/Head') %>
    <body>
        <%- include('./partials/NavBar') %>
        <h1> 
            Information about us will be here
        </h1>
    </body>
</html>