<!DOCTYPE html>
<html>
    <%- include('./partials/Head') %>
    <body>
        <%- include('./partials/NavBar') %>
        <h1> This page will show courses from databases
        
        </h1>
    </body>
</html>