<!DOCTYPE html>
<html>
    <%- include('./partials/Head') %>
    <body>
        <%- include('./partials/NavBar') %>
        <h1> All Registeres mentors will be available here
        
        </h1>
    </body>
</html>